@import "./scss/variables.scss";
@import "./scss/forms.scss";

html {
  font-size: 18px;
  line-height: 1.5;
}

.App {
  padding: 1rem 2rem;
}

h1,
h2 {
  border-bottom: 1px solid gray;
  margin: 1rem auto;
  padding-bottom: 1rem;
}

h2 {
  margin-top: 3rem;
}

.section {
  margin-bottom: 1.5rem;
}

/* Fix for fieldset on Firefox */
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

/* NOTE: Something to think about for a11y
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/
