/* Colors */
$black: #000 !default;
$blue: blue !default;
$gray-light: #eee !default;
$green: green !default;
$muted: #767676 !default;
$red: #ee0000 !default;
$white: #fff !default;

/* a11y focus outline */
$outline-color: orange !default;
$outline-width: 0.2rem !default;
